ion-header{
    border: none;
    box-shadow: none;
    direction: rtl;
    ion-toolbar{
      --background:rgba(0, 255, 238, 0.723);
    }
   
  }
  ion-title{
    font-size: 20px;
    font-family: cursive;
   color: whitesmoke;
   font-weight: 600;
   font-family: cursive;
  }
  
  ion-content{
    --background:#f0f0f2;
  }

  h1{
    font-size: 30px;
  font-family: cursive;
  font-weight: bolder;
  color: rgba(6, 179, 167, 0.989);
  direction: rtl;
  padding-right: 10px;
  }
  p{
 
  font-weight: 600;
  color: gray;
  direction: rtl;
  }

  .search{
    border-radius: 25px;
    border: 2px solid gray ;
    font-size: 20px;
    font-weight: 500;
    color: gray;
    &:hover{
        border: 2px solid rgba(6, 179, 167, 0.989); 
        transition: all 0.4s ease-in-out;  
    }
  }

  .img{
    transform: scale(1.05,1.05);
    transition: 600ms all ease-in-out;
    border-radius: 10px;
    border: 2px solid gray;
    width: 100%;
    height: 100%;
  }

  .swiper-slide-active{
transform: scale(1.05,1.05);
ion-card{
    .img{
        transform: scale(1,1);  
    }
}
  }

  .swiper-slide{
    transition: 400ms all ease-in-out;
  }
  
h3{

    font-family: cursive;
    font-weight: bolder;
    color: rgba(6, 179, 167, 0.989);
    direction: rtl;
    padding-right: 10px;  
}
  .marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    p {
      display: inline-block;
      padding-left: 100%;
      animation: marquee 5s linear infinite;
      color: white;
    }
    background:linear-gradient(to right,rgba(6, 179, 167, 0.989),rgba(86, 88, 88, 0.989));
    border-radius: 10px;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(10%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .marqueee{
   background:linear-gradient(to right,rgba(6, 179, 167, 0.989),rgba(86, 88, 88, 0.989)); 
   padding: 20px ;
  }

  .products{
    margin-right: 20px;
    background-color: rgba(6, 179, 167, 0.989);
    width: 100px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 20px;
  }
  .team{
    margin-right: 100px;
    background-color: rgba(6, 179, 167, 0.989);
    width: 100px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 3px;
  }